// Mixins Here

.sign-up-btn(){
    background: #22283A;
    text-align: center;
    color: #F6F6F6;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 33%;
    cursor: pointer;
}