// Navigation code here

.nav-wrapper{

    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: .95;

    nav{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        background: @nav-bg;

        @media @mobile{
            width: 100%;
            margin: 0;
        }

        .nav-list{
        .nav-list-style();

            @media @mobile{
                width: 100%;
                justify-content: space-around;
            }
        }
    }
}
