// Navigation code here
nav{
    position: fixed;
    top: 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 42.1%;
    opacity: 0.8;
    padding: 1rem 0;
    background: #F6F6F6;
    
    @media @mobile{
        width: 100%;
        margin: 0;
    }

    .nav-list{
       .nav-list-style();

        @media @mobile{
            width: 100%;
            justify-content: space-around;
        }
    }
}
